<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="testNg_8_Tcs_TestCases_From_Xml.TestNG_8_Run_TestCases_from_Xml_file"/>
       <methods>
      <include name ="twitter"></include>
      <include name = "selenium"></include>
      </methods>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
